

.header{

    left: 0;
    right: 0;
    height: 100px;
    line-height: 80px;
    background-color: black;
}

img{
    position : center;
    float: left;
    width: 100px;
    height: 100px;
    top: 20px;
    right: 100px;
}

.footer{
    float:left;
    width:80%;
    line-height: 60px;
    bottom:0;
    height:100px;
    background-color: black;
}
.copyright{
    text-align:center;
    color:white;
    height:20px;
}

/* ADDITIONAL CLASSES */
.separator{
    height: 10px;
    background-color: red;
}
.flat{
    height: 400px;

}