
/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 60px;
    text-align: center;
    background-image: url("image/Corne-dAbondance.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #111;
    color: white;
}

/* Navigation Bar */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: block;

}

ul.navbar li {float: left;}

ul.navbar li a {
    display: inline-block;
    color: white;
    block-size: 36px;
    text-align: center;
    padding: 25px 16px 14px 16px;
    text-decoration: none;
}



ul.navbar li a:hover:not(.active) {background-color: #111;}

ul.navbar li a.active {background-color: #4CAF50;}

ul.navbar li.right {float: right;}


.icon { width:32px;
    height:32px;
    border:0;

}

.buttonNavBar {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.navbar .search-container input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
}


.navbar .search-container button {
    float: right;
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.navbar .search-container {
    float: right;

}

/* The dropdown container */
.dropdown {
    float: center;
    overflow: hidden;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Container*/
.container-title {

    padding: 10px 50px 50px 50px;
    margin: 20px;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;

}

/* Home */


.product-back {

    height: 400px;
    width: 500px;
    display: block;


}
.flex-container a{
    text-decoration: none;
    color: black;
}

.flex-container a:hover {
    background-color: #F7FFF1;
}

.image-product {
    width:80px;
    height:75px;
    border:0;

}

/* Table */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

td, th {
    border: 1px solid #070000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #F7FFF1;
}

.test-table{
    overflow-x: auto;

}




/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {

    ul.navbar li.search-container {
        float: none;
    }

    ul.navbar li.right,ul.navbar li.search-container button, ul.navbar li {
        flex-direction: column;
        float : none;
        text-align: center;
    }

    .flex-container,.product-back {
        flex-direction: column;
        float : none;
        text-align: center;
        width: auto;
        height: auto;
    }

    .table,.td,.th{
        flex-direction: column;
        float : none;
        text-align: start;
        width: auto;
        height: auto;
        overflow-x: auto;
    }

    ul.navbar li.input {
        border: 1px solid #ccc;
    }
    .dropdown-content {
        display: none;
        position: absolute;
    }


}
